* {
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
    color: #333;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #5e5fcae6;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
    width: 50vw;
    max-width: 500px;
    height: 50vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #4a4a4a;
}

#title{
    text-align: center;
    margin-top: 0;
    font-size: 3rem;
    width: 100%;
}

#watch {
    color: #5e5fcae6;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 90%;
    background: #dfdfdf;;
    box-shadow: 3px 3px 3px #eeecf4;
}

#time p {
    display: inline;
    font-size: 8rem;
    margin: 0;
}

#buttonsDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn {
    color: #fff;
    font-size: 2rem;
    width: 12rem;
    border-radius: 15px;
    border: 0;
    box-shadow: 3px 3px 3px #3336;
}

#reset {
    color: #fff;
    background-color: #333;
}

#play {
    background-color: #5e5fcae6 
}

#pause {
    background-color: #d9534f; 
}

@media (max-width: 800px) { 
    #root {
        width: 100%;
        height: 80vh;
    }

    .btn {
        font-size: 2rem;
        width: 10rem;
    }

 }
